<!doctype html>
{% load crispy_forms_tags %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Login form</title>
  
  </head>
  <body>

{% if messages %}
{% for message in messages %}
    <div class="alert alert-danger">{{message}}</div>
{% endfor %}
{% endif %}
    
<div class="container">
	<div class="row d-flex justify-content-center align-items-center mt-4">
		<div class="col-lg-4 col-md-8 ">
            <div>
                <form method="post">
                    <h1 class="home-text text-center">login page</h1>
                        {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">User name</label>
                        <input name="username" type="text" class="form-control" id="exampleInputEmail1" placeholder="username" >
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input name='password' type="password" class="form-control" id="exampleInputPassword1" placeholder="password">
                    </div>
                    <div class="d-grid gap-2 mt-4">
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                    </div>
                </form>
            </div>
            {% comment %} {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">{{message}}</div>
            {% endfor %}
            {% endif %} {% endcomment %}
             

            <!-- Button trigger modal -->
            <span>Don't have an account?<a href="" data-toggle="modal" data-target="#exampleModal">Sign Up</a></span>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                     <div class="modal-header">
                        <h3 class="modal-title text-center" id="exampleModalLabel">For Sign Up</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div> 
                    <div class="modal-body ">
                        <div class="container">
                        
                        <a href="{% url 'teacherRegister' %}" type="button" class="btn btn-primary btn-lg btn-circle btn-xl">For Teacher</a>
                        <a href="{% url 'studentRegister' %}" type="button" class="btn btn-secondary btn-lg">For Student</a>
                        
                        </div>
                    </div>
                    
                    </div>
                </div>
                </div>
        </div>
    </div>
</div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>

  <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
</script>
</html>