{% extends 'base.html' %}

{% block title%} Topper categories {% endblock%}
{% block content %}

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
  <li><a class="dropdown-item" href="{% url 'topperCategory' %}">All Product</a></li>
  {% for i in all_data %}
    <li><a class="dropdown-item" href="{{i.get_absolute_url}}">{{i.name}}</a></li>
    {% endfor %}
  </ul>
</div>
{% comment %} {% if category %}
{{category.student}}
{% else %}
All 
{% endif %} {% endcomment %}

{% for i in topper%}
  <p>{{i.student}}</p>
{% endfor %}


{% endblock %}
